[submodule "Data-Science/House_price_Prediction"]
	path = Data-Science/House_price_Prediction
	url = https://github.com/shaikshakeela-netizen/House_price_Prediction.git
[submodule "Data-Science/Breast_Cancer_detection"]
	path = Data-Science/Breast_Cancer_detection
	url = https://github.com/shaikshakeela-netizen/Breast_Cancer_detection.git
[submodule "Data-Science/Movie_Recommendation"]
	path = Data-Science/Movie_Recommendation
	url = https://github.com/shaikshakeela-netizen/Movie_Recommendation.git
[submodule "Data-Science/Credir_Card_Fraud_detection"]
	path = Data-Science/Credir_Card_Fraud_detection
	url = https://github.com/shaikshakeela-netizen/Credir_Card_Fraud_detection.git
[submodule "Data-Science/Weather_Forecast"]
	path = Data-Science/Weather_Forecast
	url = https://github.com/shaikshakeela-netizen/Weather_Forecast.git
[submodule "Data-Analytics/Swiggy_Analysis_Using_Excel"]
	path = Data-Analytics/Swiggy_Analysis_Using_Excel
	url = https://github.com/shaikshakeela-netizen/Swiggy_Analysis_Using_Excel.git
[submodule "Data-Analytics/SWIGGY_ANALYSIS_USING_SQL"]
	path = Data-Analytics/SWIGGY_ANALYSIS_USING_SQL
	url = https://github.com/shaikshakeela-netizen/SWIGGY_ANALYSIS_USING_SQL.git
[submodule "Data-Analytics/Airline_Route_Analysis"]
	path = Data-Analytics/Airline_Route_Analysis
	url = https://github.com/shaikshakeela-netizen/Airline_Route_Analysis.git
[submodule "Data-Analytics/Insurance_Risk_Analysis"]
	path = Data-Analytics/Insurance_Risk_Analysis
	url = https://github.com/shaikshakeela-netizen/Insurance_Risk_Analysis.git
[submodule "Data-Science/Student_performance_tracker"]
	path = Data-Science/Student_performance_tracker
	url = https://github.com/shaikshakeela-netizen/Student_performance_tracker.git
[submodule "Programming/Industry-SQL-Arsenal"]
	path = Programming/Industry-SQL-Arsenal
	url = https://github.com/shaikshakeela-netizen/Industry-SQL-Arsenal.git
[submodule "Programming/Leetcode_Problems"]
	path = Programming/Leetcode_Problems
	url = https://github.com/shaikshakeela-netizen/Leetcode_Problems.git
[submodule "Web-Development/Grandma-s_Pickle"]
	path = Web-Development/Grandma-s_Pickle
	url = https://github.com/shaikshakeela-netizen/Grandma-s_Pickle.git
[submodule "Web-Development/CHEZZION_"]
	path = Web-Development/CHEZZION_
	url = https://github.com/shaikshakeela-netizen/CHEZZION_.git
